<% include ../partials/header %>
    
    <div class="container" style="width: 30%; margin: 0 auto;">
     <h2 style="margin-bottom: 30px;">Edit Comment</h2>
        <form action="/campgrounds/<%=campground_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
            
            <div class="form-group">
              <input type="text" name="comment[text]" class="form-control" value="<%=comment.text%>"> 
            </div> 
            <input type="submit" value="Submit"  class="btn btn-lg btn-primary btn-block">
        </form> 
        <a href="/campgrounds">Back</a>
    </div>
    
    
    
<% include ../partials/footer %>