<% include ../partials/header %>
    
    <div class="container">
       <header class="jumbotron">
            <h1>Welcome to CampShare!</h1>
            <p>Book your next camping trip now!</p>
            <a class="btn btn-lg btn-primary" href="/campgrounds/new">Add a new campground</a>
        </header>
     
   
    
        <div class="row" style="display: flex; justify-content: space-between; flex-wrap: wrap">
          <% campgrounds.forEach(function(campground){ %>
            <div class="col-sm-6 col-md-4">
               <div class="thumbnail">
                    <img src="<%= campground.image %>"> 
                    <div class="caption">
                        <h3> <%= campground.name%> </h3> 
                    </div>
                
                    <div>
                        <a href="campgrounds/<%= campground._id %>">More Info</a>
                    </div>
                </div> 
            </div>
          <% }); %>
    </div>

<% include ../partials/footer %>